<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huang.pwgtp.repository.TravelActivityMapper">

    <resultMap id="BaseResultMap" type="org.huang.pwgtp.repository.model.TravelActivityDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="creator_uid" jdbcType="BIGINT" property="creatorUid" />
        <result column="modifier_uid" jdbcType="BIGINT" property="modifierUid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="travel_type" jdbcType="VARCHAR" property="travelType" />
        <result column="travel_way" jdbcType="VARCHAR" property="travelWay" />
        <result column="travel_start_time" jdbcType="TIMESTAMP" property="travelStartTime" />
        <result column="travel_end_time" jdbcType="TIMESTAMP" property="travelEndTime" />
        <result column="plan_recruit_member_number" jdbcType="INTEGER" property="planRecruitMemberNumber" />
        <result column="has_recruited_member_list" jdbcType="VARCHAR" property="hasRecruitedMemberList" />
        <result column="travel_plan" jdbcType="VARCHAR" property="travelPlan" />
        <result column="deleted" jdbcType="INTEGER" property="deleted" />

    </resultMap>

    <sql id="Base_Column_List">
        id, <include refid="Base_Column_List_WITHOUT_ID" />
    </sql>

    <sql id="Base_Column_List_WITHOUT_ID">
        gmt_create, gmt_modified, creator_uid, modifier_uid,name, description, status, travel_type, travel_way, travel_start_time, travel_end_time, plan_recruit_member_number, has_recruited_member_list, travel_plan, deleted
    </sql>


    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from travel_activity
        where id = #{id,jdbcType=BIGINT}
        AND deleted = 0
    </select>

    <insert id="insert" parameterType="org.huang.pwgtp.repository.model.TravelActivityDO" useGeneratedKeys="true" keyProperty="id">
        insert into travel_activity ( <include refid="Base_Column_List_WITHOUT_ID" />)
        values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},#{creatorUid,jdbcType=BIGINT}, #{modifierUid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{travelType,jdbcType=VARCHAR}, #{travelWay,jdbcType=VARCHAR}, #{travelStartTime,jdbcType=TIMESTAMP}, #{travelEndTime,jdbcType=TIMESTAMP}, #{planRecruitMemberNumber,jdbcType=INTEGER}, #{hasRecruitedMemberList,jdbcType=VARCHAR}, #{travelPlan,jdbcType=VARCHAR}, #{deleted,jdbcType=INTEGER})
    </insert>

    <update id="updateById" parameterType="org.huang.pwgtp.repository.model.TravelActivityDO">
        update travel_activity
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="creatorUid != null">
                creator_uid = #{creatorUid,jdbcType=BIGINT},
            </if>
            <if test="modifierUid != null">
                modifier_uid = #{modifierUid,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="travelType != null">
                travel_type = #{travelType,jdbcType=VARCHAR},
            </if>
            <if test="travelWay != null">
                travel_way = #{travelWay,jdbcType=VARCHAR},
            </if>
            <if test="travelStartTime != null">
                travel_start_time = #{travelStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="travelEndTime != null">
                travel_end_time = #{travelEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="planRecruitMemberNumber != null">
                plan_recruit_member_number = #{planRecruitMemberNumber,jdbcType=INTEGER},
            </if>
            <if test="hasRecruitedMemberList != null">
                has_recruited_member_list = #{hasRecruitedMemberList,jdbcType=VARCHAR},
            </if>

            <if test="travelPlan != null">
                travel_plan = #{travelPlan,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=INTEGER},
            </if>

        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateStatusById">
        update travel_activity
        <set>
                status = #{status,jdbcType=INTEGER},
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateHasRecruitedMemberListById">
        update travel_activity
        <set>
                has_recruited_member_list = #{hasRecruitedMemberList,jdbcType=VARCHAR},
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteById">
        update travel_activity
        <set>
                deleted = 1,
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>


</mapper>