<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huang.pwgtp.repository.UserMapper">

    <resultMap id="BaseResultMap" type="org.huang.pwgtp.repository.model.UserDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
<!--        <result column="creator_uid" jdbcType="BIGINT" property="creatorUid" />-->
<!--        <result column="modifier_uid" jdbcType="BIGINT" property="modifierUid" />-->
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />

    </resultMap>

    <sql id="Base_Column_List">
        id, <include refid="Base_Column_List_WITHOUT_ID" />
    </sql>

    <sql id="Base_Column_List_WITHOUT_ID">
        gmt_create, gmt_modified, name, description, mobile_phone
    </sql>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="listByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where id in
        <foreach close=")" collection="list" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="insert" parameterType="org.huang.pwgtp.repository.model.UserDO">
        insert into user (id, gmt_create, gmt_modified,name, description, mobile_phone)
        values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},#{name,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR})
   </insert>

    <update id="updateById" parameterType="org.huang.pwgtp.repository.model.UserDO">
        update user
        <set>
            gmt_modified = now(),
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="name !=null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description !=null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="mobilePhone !=null">
                mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>







</mapper>